@import "variables";

//flex-center
@mixin flex-center($direction:row){
  display: flex;
  flex-direction: $direction;
  justify-content: center;  //主轴居中
  align-items: center;  //交叉轴居中
}

//flex-between 两边对齐
@mixin flex-between(){
  display: flex;
  justify-content: space-between;  //主轴两边对齐
  align-items: center;  //交叉轴居中
}

//ellipsis
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//multi line ellipsis
@mixin multiline-ellipsis($num: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  white-space: normal !important;
  word-wrap: break-word;
}
